<h1>AIFit</h1>

<p><b>L’app per sperimentare il machine learning applicato all’attività motoria.</b></p>

<p>AI Fit è l’applicazione che permette di partecipare in modo anonimo agli esperimenti di intelligenza artificiale condotti dall’Università di Urbino nell’ambito del progetto CTE Square.</p>

<p>Le applicazioni di intelligenza artificiale che riconoscono automaticamente i movimenti che compiamo si basano su modelli di machine learning addestrati a classificare i movimenti in base all’andamento delle tracce degli accelerometri. Questa applicazione permette a chiunque di sperimentarne e valutarne il funzionamento, l’efficacia i limiti, partecipando in modo anonimo a esperimenti rigorosi condotti dall’Università di Urbino.</p>

<p>Lo si può fare in autonomia, o partecipando a sessioni di sperimentazione coordinate e guidate. Scansionando un Qrcode associato univocamente all’esperimento l’applicazione si sincronizza con quella di un’istruttrice o di un istruttore che propone (in presenza o online) semplici esercizi motori da compiere tenendo il cellulare come specificato dalla guida.</p>

<p>Durante l’esecuzione dell’esercizio motorio l’applicazione raccoglie i dati dell’accelerometro e li usa per verificare la capacità del modello di machine learning di riconoscere l’attività svolta, dandone riscontro all’utente. Al tempo stesso, la traccia permette di contribuire in modo anonimo ad addestrare il modello in modo che la sua accuratezza migliori nel tempo.</p>

<p>Poiché la partecipazione a esperimenti scientifici genera valore, il contributo dato da ogni utente viene riconosciuto attribuendo WOM, speciali punti che quantificano i minuti dedicati ad attività che contribuiscono alla creazione di valore pubblico.</p>

<h2>Installa l’applicazione</h2>

<p>
    L’applicazione AIFit è disponibile per dispositivi iOS e Android, tramite gli store ufficiali delle due piattaforme.
</p>

<p>
    <div class="grid store-link">
        <div>
            <a href="https://apps.apple.com/us/app/aifit/id6744040583">
                <img src="/badge_app_store_{{{ i18n "lang-tag" }}}.png" alt="Scarica tramite App Store per iOS" width="503"
                    height="168" />
            </a>
        </div>
        <div>
            <a href="https://play.google.com/store/apps/details?id=it.uniurb.aifit">
                <img src="/badge_google_play_{{{ i18n "lang-tag" }}}.png" alt="Scarica tramite Google Play per Android"
                    width="564" height="168" />
            </a>
        </div>
    </div>
</p>
