<h1>AIFit</h1>

<p>Descrizione applicazione.</p>

<h2>Installa l’applicazione</h2>

<p>
    L’applicazione AIFit è disponibile per dispositivi iOS e Android, tramite gli store ufficiali delle due piattaforme.
</p>

<p>
    <div class="grid store-link">
        <div>
            <a href="#">
                <img src="/badge_app_store_{{{ i18n "lang-tag" }}}.png" alt="Scarica tramite App Store per iOS" width="503"
                    height="168" />
            </a>
        </div>
        <div>
            <a href="#">
                <img src="/badge_google_play_{{{ i18n "lang-tag" }}}.png" alt="Scarica tramite Google Play per Android"
                    width="564" height="168" />
            </a>
        </div>
    </div>
</p>

<p>
    Dopo l’installazione, apri l’applicazione e segui le istruzioni.
</p>

<h2>Contatti</h2>

<p>Per ulteriori informazioni, contattaci a xxx@example.org.</p>